* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
#app {
  display: flex;
}

.menu {
  background-color: red;
  width: 240px;
  height: 100vh;
}
.logo_menu {
  display: flex;
  justify-content: center;
}

.logo_menu img {
  height: 40px;
  width: 152px;
  margin: 14px 0 16px 0;
}
.tabs {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}
.tabs-item {
  height: 36px;
  width: 100%;
  background-color: aqua;
}
.main {
  flex: 1;
  background-color: yellow;
}
.header {
  background-color: blue;
  height: 56px;
}
.main_content {
  background-color: green;
  height: calc(100vh - 56px);
}
