*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.input_area {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
#input_content, #input_username{
    flex: 3;
    height: 40px;
    border: 1px solid black;
    padding-left: 5px;
}
#input_date, #input_status{
    flex: 2;
    height: 40px;
    border: 1px solid black;
    padding-left: 5px;
}
.btn_submit {
    flex: 1;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.table_header {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    gap: 10px;
    background-color: gainsboro;
}
.hd_stt {
    flex: 0.3;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.hd_content {
    flex: 5;
    font-size: 16px;
    font-weight: 700;
}
.hd_date, .hd_status, .hd_assignto, .hd_action {
    flex: 2;
    font-size: 16px;
    font-weight: 700;
}

.item{
    width: 100%;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
}
.number_item {
    flex: 0.3;
    font-size: 16px;
    text-align: center;
}
.content_item {
    flex: 5;
    font-size: 16px;
}
.date_item, .status_item, .assign_item, .action_item {
    flex: 2;
    font-size: 16px;
}
.action_item{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.btn_edit{
    flex: 1;
    padding: 5px;
    cursor: pointer;
}
.btn_delete{
    flex: 1;
    padding: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}
