*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 10px 20px 10px;
}
/* title */
.title {
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

/* add student area */
.addstudent {
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#name{
    width: calc((100% - 10px)/2);
    height: 30px;
    border: 1px solid black;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
}
#age{
    width: calc((100% - 10px)/2);
    height: 30px;
    border: 1px solid black;
    padding-left: 5px;
}
#class{
    width: calc((100% - 10px)/2);
    height: 30px;
    border: 1px solid black;
    padding-left: 5px;
}
.btn_add {
    width: calc((100% - 10px)/3);
    height: 30px;
    background-color: blue;
    color: white;
}
#search{
    width: calc((100% - 10px)/2);
    height: 30px;
    border: 1px solid black;
    margin-top: 20px;
    padding-left: 5px;
}
.table_title {
    margin-top: 10px;
    width: 60%;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.table_header {
    width: calc((100% - 30px) / 4);
    font-weight: 600;
}
.item{
    margin-top: 5px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.sub_item{
    width: 25%;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.sub_item_adjust{
    width: 25%;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn_adjust{
    background-color: rgb(105, 105, 14);
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 40%;
    padding: 5px 10px 5px 10px;
}
.btn_delete{
    background-color: rgb(156, 33, 33);
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 40%;
    padding: 5px 10px 5px 10px;
}