.container {
  display: flex;
}
.navigation {
  width: 240px;
  height: 100vh;
  background-color: #f6f8f9;
}
.main {
  flex: 1;
}
.header {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid rgb(189, 189, 189);
  display: flex;
  align-items: center;
  justify-content: end;
}
.avatar {
  height: 36px;
  width: 36px;
  margin-right: 24px;
  margin-left: 12px;
}
.avatar:hover {
  cursor: pointer;
}
.bell-icon {
  height: 24px;
  width: 24px;
}
#userLogin {
  margin-right: 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: 16px;
}
.fire-logo {
  height: 24px;
  width: 24px;
}
.ecommerce {
  color: #252c32;
  font-size: 18px;
  font-weight: 600;
}
.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  display: flex;
  height: 32px;
  width: 208px;
  align-items: center;
  padding: 4px 12px 4px 8px;
}
.item:hover i,
.item:hover .item-text {
  cursor: pointer;
  color: #0e73f6;
}
.item:hover {
  background-color: #d7edff;
}
.key_item {
  background-color: #d7edff;
}
.key_item i,
.key_item .item-text {
  cursor: pointer;
  color: #0e73f6;
}

/* function 1 */
.function1 {
  display: flex;
  justify-content: space-between;
}
.product-title {
  font-size: 24px;
  font-weight: 700;
  color: #252c32;
  margin-top: 32px;
  margin-left: 24px;
}
.add-btn {
  width: 166px;
  height: 40px;
  border-radius: 6px;
  background-color: #4094f7;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: 24px;
  margin-right: 24px;
  cursor: pointer;
}

/* function 2 */
.function2 {
  display: flex;
  justify-content: end;
  margin-top: 12px;
  gap: 8px;
}
#status,
#category {
  height: 40px;
  width: 259px;
  font-size: 14px;
  font-weight: 400;
  padding: 0 14px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 8px;
}

.search-bar {
  position: relative;
  margin-right: 24px;
}
.search-tbx {
  height: 40px;
  width: 254px;
  font-size: 14px;
  font-weight: 400;
  padding: 0 14px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 8px;
}
.fa-magnifying-glass {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.fa-magnifying-glass:hover {
  cursor: pointer;
}

/* content */
.content {
  margin: 11px 24px 24px 24px;
}
.tbl-header {
  display: flex;
  background-color: #f9fafb;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.header-nor {
  height: 44px;
  /* border: 1px solid green; */
  font-size: 12px;
  font-weight: 500;
  padding-left: 24px;
  padding-top: 13px;
  color: #667085;
}
.header1,
.item1 {
  /* width: 162px;  163/1112 */
  flex: 15;
}
.header2,
.item2 {
  /* width: 171px; 171/1112 */
  flex: 15;
}
.header3,
.item3 {
  /* width: 149px; 149/1112 */
  flex: 13;
}
.header4,
.item4 {
  /* width: 149px; 149/1112 */
  flex: 13;
}
.header5,
.item5 {
  /* width: 149px; 149/1112 */
  flex: 13;
}
.header6,
.item6 {
  /* width: 164px; 164/1112 */
  flex: 15;
}
.header7,
.item7 {
  /* width: 169px; 169/1112 */
  flex: 16;
}

/* table content */
.row {
  display: flex;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.item-nor {
  height: 72px;
  /* border: 1px solid green; */
  font-size: 14px;
  font-weight: 500;
  padding-left: 24px;
  display: flex;
  align-items: center;
  color: #101828;
}
.active {
  color: #027a48;
}
.inactive {
  color: #b91c1c;
}
.inactive-box {
  padding: 2px 8px 2px 6px;
  border-radius: 16px;
  background-color: #fef2f2;
}
.active-box {
  padding: 2px 8px 2px 6px;
  border-radius: 16px;
  background-color: #ecfdf3;
}
.function-icon {
  height: 40px;
  width: 40px;
}
.function-icon:hover {
  cursor: pointer;
}

/* pagination */
#pagination {
  margin: 24px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.pageBtn {
  height: 32px;
  width: 32px;
  color: #051b44;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid rgb(189, 189, 189);
}
.pageBtn:hover {
  color: white;
  background-color: #0e73f6;
}
.activePage {
  color: white;
  background-color: #0e73f6;
}

/* menu logout */
.fa-folder,
.fa-folder-open,
.fa-home {
  color: #3f3f46;
  height: 24px;
  width: 24px;
  margin-right: 9px;
  margin-top: 8px;
}
.item-text {
  font-size: 14px;
  font-weight: 400;
  color: #3f3f46;
  text-decoration: none;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background-color: gainsboro;
  width: 150px;
  padding: 15px;
  position: absolute;
  right: 5px;
  top: 60px;
  border-radius: 5px;
  display: none;
}
.item-menu a {
  text-decoration: none;
  color: black;
}

/* sort */
.sort-wrapper {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.sort-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  display: none;
  z-index: 10;
  min-width: 140px;
}
.sort-menu div {
  padding: 8px 12px;
}
.sort-menu div:hover {
  background: #f5f5f5;
}

/* modal */
/* Overlay */
#productModal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  display: none;
}
/* Modal box */
.modal-box {
  background: white;
  width: 900px;
  height: 705px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
/* Header */
.modal-header {
  padding: 23px 24px 13px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.modal-close {
  font-size: 24px;
  cursor: pointer;
  color: #666;
}
/* body */
#productForm{
  width: calc(100% - 48px);
  margin: auto;
}
.form-row {
  display: flex;
  gap: 23px;
  margin-bottom: 24px;
}
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form-group label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}
.form-group input,
.form-group select{
  border-radius: 8px;
  height: 44px;
  border: 1px solid #d0d5dd;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 400;
}
.form-group input:focus {
  outline: none;
  border-color: #1677ff;
}
.radio-group {
  display: flex;
  gap: 14px;
  /* margin-top: 21px; */
}
.radio-group label{
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 6px;
}
.form-group textarea {
  border-radius: 8px;
  height: 92px;
  border: 1px solid #d0d5dd;
  padding: 8px 12px;
  resize: none;
}
.txt-area{
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
/* Footer */
.modal-footer {
  border-top: 1px solid #d0d5dd;
  display: flex;
  justify-content: flex-end;
  gap: 13px;
  margin-top: 24px;
  padding-top: 24px;
}
/* Button */
.btn-cancel {
  background: #f0f0f0;
  height: 44px;
  width: 72px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.btn-primary{
  background: #007AFF;
  border: none;
  height: 44px;
  width: 86px;
  border-radius: 10px;
  cursor: pointer;
}
/* Active */
.modal.show,
.modal-overlay.show {
  display: block;
}
.required {
  color: red;
}
#errProductCode,
#errProductName,
#errProductCategory,
#errProductPrice,
#errProductPicture,
#errProductStock
{
  color: red;
  display: none;
}
