.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  width: 480px;
}
.form-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 24px;
}
.title {
  font-size: 36px;
  font-weight: 600;
  color: #101828;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #667085;
}
.form-label {
  display: block;
  color: #344054;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}
.form-group1 {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}
.input1 {
  width: calc((100% - 32px) / 2);
}
.form-input1 {
  width: 100%;
  height: 48px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 12px 16px;
  color: #667085;
  font-size: 16px;
  font-weight: 400;
}
.form-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.form-input {
  width: 100%;
  height: 48px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 12px 16px;
  color: #667085;
  font-size: 16px;
  font-weight: 400;
}
.input-checkbox {
  height: 20px;
  width: 20px;
}
.policy {
  font-size: 16px;
  font-weight: 500px;
}
.policy a,
.login a {
  color: #1a0dee;
}
.form-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.register-btn {
  background: #1a0dee;
  color: white;
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}
.input-checkbox {
  accent-color: #1a0dee;
}
.login {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .form {
    width: 418px;
  }
  .input1 {
    width: 100%;
  }
  .form-group1 {
    gap: 24px;
  }
}
