*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gainsboro;
    padding: 20px;
}
#scr{
    width: 100%;
    height: 30px;
    text-align: left;
    line-height: 30px;
    font-size: 20px;
}
.keyboard {
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn {
    width: calc((100% - 90px) / 10);
    height: 30px;
}
.last_row{
    width: calc(100% - 30px - 3*calc((100% - 90px) / 10));
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.last_row .btn{
    width: calc((100% - 60px)/7);
    height: 30px;
}
.btn_clr{
    width: calc((100% - 60px)/7);
    height: 30px;
    background-color: red;
    color: white;
}