.container{
    margin: auto;
    width: 500px;
    border: 1px solid black;
}
.box1{
    position: relative;
    width: 308px;
    margin: auto;
    font-size: large;
    
    
}
.box1 img{
    width: 308px;
}
.box2{
    position: absolute;
    transform: translateY(-120%);
    width: 308px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-indent: 10px;
}
.box3
{
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    font-size: 7px;
    border-radius: 20%;
    padding: 3px;

}

.box4{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 20%;
    text-align: center;
}
.box5{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 60px;
    right: 12.5px;
    border: 1px solid white;
    color: white;
    font-size: 10px;
    border-radius: 20%;
    text-align: center;
    padding-top: 5px;
}

.box6{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 105px;
    right: 12.5px;
    border: 1px solid white;
    color: white;
    font-size: 10px;
    border-radius: 20%;
    text-align: center;
    padding-top: 5px;
}
