* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: auto;
}
.item{
    width: calc(25% - 20px);
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: green;
    color: white;
}