* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 80%;
  margin: auto;
  background: linear-gradient(to bottom, #333333, #090707);
}
h2 {
  font-size: 40px;
}
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.menu button {
  width: 204px;
  height: 50px;
  border: 1.5px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 5px;
  margin-left: 50px;
  cursor: pointer;
}
.menu a {
  text-decoration: none;
  color: white;
}
.box1 {
  width: 914px;
  height: 335px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box1 h1 {
  font-size: 60px;
}
.box1 div {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.btn1 {
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.btn2 {
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
}
.box2 {
  color: white;
  text-align: center;
  margin-top: 50px;
  line-height: 2;
}
.box3 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 50px;
}
.box3 img {
  width: calc((100% - 20px) / 3);
}
.box4 {
  color: white;
  text-align: left;
  margin-top: 50px;
  line-height: 2;
}
.box5 {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.box5 img {
  width: calc((100% - 30px) / 4);
}

.btn3 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btn3 button {
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.box6 {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.box6 img {
  width: calc((100% - 20px) / 3);
}
.box7 {
  background-color: blue;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box7 div {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.btn4 {
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 1200px) {
  .header .menu {
    display: none;
  }
  .box1 div {
    flex-direction: column;
    gap: 10px;
  }
  .box1 button {
    width: 100%;
  }
  .box3 img {
    width: 100%;
  }
  .box5 img {
    width: 100%;
  }
  .box6 img {
    width: 100%;
  }
  footer {
    display: none;
  }
}
