*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
#main{
    width: 100%;
    background-color: #090707;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 120px 24px 118px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #090707;
}
.navbarL {
    display: flex;
    align-items: center;
}
.navbarR {
    display: flex;
    align-items: center;
    gap: 46px;
}
.list-item {
    display: flex;
    gap: 20px;
}
.link-item {
    text-decoration: none;
    color: white;

}
.btn{
    height: 50px;
    border-radius: 5px;
    width: 204px;
    
    font-size: 14px;
    font-weight: 500;
    color: white;
    
}
.btn-trans{
    background-color: transparent;
    border: 1.5px solid #ffffff;
}
.btn-prim{
    background-color: blue;
    border: 1.5px solid transparent;
}
.btn-header:hover{
    cursor: pointer;
    opacity: 0.8;
}
.banner {
    width: 914px;
    height: 335px;
    margin: 0 auto;
    color: white;
    text-align: center;
    margin-top: 112px;
}
.banner-title {
    font-size: 65px;
    font-weight: 700;

}
.text-strong { 
    color: blue;
}
.banner-des {
    margin: 47px 0 56px 0;
    font-size: 22px;
    font-weight: 400;
}
.btn-grp {
    display: flex;
    gap: 23px;
    justify-content: center;
}

.banner-img {
    display: flex;
    justify-content: center;
    margin-top: 54px;

}
