/* reset css mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.container {
  width: 80%;
  margin: auto;
}
.boxheader {
  text-align: center;
  color: white;
  background-color: blue;
}
.boxheader a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
