* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  /* background: linear-gradient(135deg, #74b9ff, #0dccaa); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  border: 1px solid black;
  padding: 40px;
  width: 500px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: space-between;
}
#add-btn {
  width: 50px;
  height: 50px;
  background: #a29bfe;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#add-btn:hover {
  background-color: #6c5ce7;
}
#input-task {
  flex: 1;
  padding: 15px 20px;
  border: 2px solid #e9ecef;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}
#input-task:focus {
  border-color: #a29bfe;
}

.pending-task {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#clear-btn {
  background-color: #a29bfe;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
  cursor: pointer;
}
#clear-btn:hover {
  background-color: #6c5ce7;
}

#task-count {
  font-size: 16px;
}
.div-item {
  background: #f1f2f6;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-item {
  font-size: 20px;
  margin-left: 15px;
}
.delete-btn {
  width: 50px;
  height: 50px;
  background-color: #e17055;
  color: white;
  border: none;
  font-size: 20px;
}
