*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calculator {
    border: 1px solid black;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#calculate_scr{
    width: 400px;
    height: 50px;
    text-align: right;
    border: 1px solid black;
    line-height: 50px;
}
.btn_area {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 400px;
    justify-content: space-between;
}
.left{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.right{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.btn {
    width: calc((100% - 20px)/3);
    height: 30px;
    background-color: white;
    cursor: pointer;
}
.btn_div{
    width: 100%;
    height: 30px;
    background-color: white;
    cursor: pointer;
}
.btn_equal {
    flex: 1;
    height: calc(100% - 40px);
    background-color: aquamarine;
    cursor: pointer;
}
