/* reset css mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;

}
/* header */
.boxheader{
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
}
.boxheader table{
    margin: auto;
    width: 20%;
    /* border: 1px solid red; */
}
/* main */
.boxmain{
    display: block;
    position: relative;
    height: 100%;
    height: 540px;
    /* border: 1px solid red; */
}
.boxmenu{
    display: inline;
    position: absolute;
    padding: 10px;
    top: 1%;
    left: 1%;
    background-color: gainsboro;
    border: 1px solid black;
    width: 19%;
    height: 98%;
    
}
.boxmenu ul{
    margin-left: 30px;
}
.boxcontent{
    display: inline;
    position: absolute;
    /* border: 1px solid blue; */
    padding: 10px;
    top: 1%;
    right: 1%;
    width: 79%;
    height: 99%;
}
.boxcontent img{
    width: 250px;
}
/* footer */
.boxfooter{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;

}