/* reset css mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    width: 80%;
    display: flex;
    height: 100vh;
    margin: auto;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
}
.item{
    width: 100px;
    height: 100px;
    background: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}