*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 30%;
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px lightblue;
}
.title {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}
#email, #password, #confirm_password{
    width: 100%;
    height: 30px;
    border: 1px solid black;
    margin: 10px 0 10px 0;
}
.btn_register {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: blue;
    color: white;
    font-size: 16px;
}
